* {
    font-family: arial, Helvetica, sans-serif;
    font-size: 36px;

}

body {
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: 50px;
}

div {
    background-color: cadetblue;
    background-size: 1;
}
main {
    background-color: white;
    margin: auto;
    padding: 10px;}