* {
    font-family: arial, Helvetica, sans-serif;
    font-size: 36px;

}
main, body {
    background-color: white;
    margin: auto;
    padding: 10px;
}

.topo {
        background-color: rgb(126, 183, 185);
        position: relative;
        margin: 0%;
        padding: 1rem;
}

h1{
    font-size: 50px;
}


